<form action= "/signin" method = "post">
  <label for "username">username</label>
  <input name= "username" value= "<%=params[:username]%>">
  <label for "password">password</label>
  <input name= "password" value= "<%=params[:password]%>">
  <button type = "submit">Sign in</button>
</form>

<form action= "/signup" method="get">
  <button type= "Submit">Sign up</button>
</form>